

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'caveat';
}
head
.contenedor{
    padding: 40px 0;
    width: 60%;
    max-width: 10px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #35455e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor-banner3 h1{
    margin: 30px 20px;
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 2px 2px 2px brown;
}

.contenedor-banner3{
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
    justify-content: center
}
.imagen-logoEm{
    align-content: flex-start;
    width: 20%;
    height: 75%;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: buttonhighlight;
    align-content: center;
}

.contenedor-footer h4{
    margin: 10px 10px;
    color: #ced3db; 
    font-size: 16px;
    font-family: 'courier new';
}
.contenedor-footer {
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
}
.imagen-logoU{
    width: 3%;
}
