
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'caveat';
}
head

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 10px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #35455e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor-banner h1{
    margin: 50px 40px;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 2px 2px 2px brown;
}

.contenedor-banner{
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
    justify-content: center
}

.imagen-inicio{
    width: 10%;
}

.contenedor-descripcion{
   align-content: center;
   font-family: 'courier new';
}
.contenedor-descripcion h4{
    text-align: justify;
    margin-right: 20%;
    margin-left: 20%;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: buttonhighlight;
    align-content: center;
}

.contenedor-footer h4{
    margin: 10px 10px;
    color: #ced3db;
    font-size: 16px;
    font-family: 'courier new';
}
.contenedor-footer {
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
}
.imagen-logoU{
    width: 3%;
}
