
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'caveat';
}
head

.contenedor{
    width: 30%;
    max-width: 10px;
    overflow: hidden;
    border: 5px groove;
}
.titulo{
    color: #35455e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor-banner3 h1{
    margin: 30px 20px;
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 2px 2px 2px brown;
}

.contenedor-banner3{
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
    justify-content: center
}

.imagen-logoEm{
    padding: 10px; 
    margin: 6px; 
    float: left; 
    width: 140px;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    align-content: center;
}

.contenedor-footer h4{
    margin: 10px 10px;
    color: #ced3db; 
    font-size: 16px;
    font-family: 'courier new';
}
.contenedor-footer {
    display: flex;
    background-color: rgb(99, 131, 138);
    background-attachment: fixed;
}
.imagen-logoU{
    width: 3%;
}
